<div class="row">
  <div class="col-md-12">
    <h4>Tags</h4>
    <select class="form-control"
            ng-options="tag.keyword for tag in $ctrl.tags"
            ng-model="selectedTag"
            ng-change="changeTag(selectedTag)">
            <option value="" disabled>Please select one</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul ng-repeat="thing in $ctrl.things">
      <li>
        <a ng-click="$ctrl.clickThing(thing);">
          {{thing.name}}
        </a>
      </li>
    </ul>
  </div>
</div>